/* Summary Section */
#summary-section[b-mjtihy6666] {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}

.summary-box[b-mjtihy6666] {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #ac81b5;
    text-align: center;
    width: 30%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#search-sort-section[b-mjtihy6666] {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

    #search-sort-section input[b-mjtihy6666] {
        width: 60%;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

#transaction-dashboard table[b-mjtihy6666] {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

#transaction-dashboard th[b-mjtihy6666], #transaction-dashboard td[b-mjtihy6666] {
    padding: 8px;
    border: 1px solid #ddd;
    text-align: left;
}

#transaction-dashboard th[b-mjtihy6666] {
    background-color: #ac81b5;
}
