h3[b-f2rguaeu2i] {
    background-color: #6a4472;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    text-align: center;
}


/* Add spacing between input fields */
div[b-f2rguaeu2i] {
    margin-bottom: 1.5rem;
}

/* Style the transaction form */
form[b-f2rguaeu2i] {
    border: 1px solid #ccc;
    padding: 1.5rem;
    border-radius: 8px;
    background-color: #f9f9f9;
    max-width: 400px;
    margin: 0 auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-block-color: gray;
}

/* Style the submit button */
button[b-f2rguaeu2i] {
    background-color: #6a4472;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

    button:hover[b-f2rguaeu2i] {
        background-color: #808080;
    }

/* Style the transaction details box */
#transaction-box[b-f2rguaeu2i] {
    margin-top: 2rem;
    padding: 1.5rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #ffffff;
    max-width: 800px;
    margin: 2rem auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

    #transaction-box table[b-f2rguaeu2i] {
        width: 100%;
        border-collapse: collapse;
    }

    #transaction-box th[b-f2rguaeu2i], #transaction-box td[b-f2rguaeu2i] {
        border: 1px solid #ddd;
        padding: 0.5rem;
        text-align: left;
    }

    #transaction-box th[b-f2rguaeu2i] {
        background-color: #f2f2f2;
        font-weight: bold;
    }
