
.total-income-box {
    display: inline-block; /* Make the box wrap tightly around the text */
    padding: 10px 20px; /* Adjust padding to surround the text nicely */
    margin: 10px auto; /* Center the box and add some margin */
    background-color: gainsboro; /* Light gray background */
    border: 1px solid #ddd; /* Subtle border */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    color: #333; /* Text color for better contrast */
    font-size: 16px; /* Optional: Adjust font size */
    font-weight: 500; /* Optional: Add some weight to the text */
    text-align: center; /* Center-align text within the box */
}

.search-filter {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

    .search-filter input {
        margin-right: 10px;
        padding: 8px;
        width: 80%;
        max-width: 200px;
    }

.btn-sort {
    padding: 8px 15px;
    background-color: purple;
    color: white;
    border: solid;
    cursor: pointer;
}

    .btn-sort:hover {
        background-color: #916b99;
    }

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: #c4a3cb;
}

.form-control {
    padding: 8px;
    width: 100%;
}


