/* Form container styling */
.form-container[b-weo16q5haq] {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f8f6f9;
    border-radius: 8px;
    box-shadow: #ccc;
    outline: solid;
    outline-color: gray;
}

h3[b-weo16q5haq] {
    text-align: center;
    margin-bottom: 30px;
    color: black;
    border: groove;
    background-color: #b58ebd;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    width: 100%;
}

/* Form group styling */
.form-group[b-weo16q5haq] {
    margin-bottom: 15px;
}

label[b-weo16q5haq] {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

.form-control[b-weo16q5haq] {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

/* Error message styling */
.error-message[b-weo16q5haq] {
    color: red;
    font-size: 14px;
    margin-top: 10px;
    text-align: center;
}

/* Submit button styling */
.btn-submit[b-weo16q5haq] {
    background-color: #804e8e;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    width: 100%;
    cursor: pointer;
    font-size: 21px;
}

    .btn-submit:hover[b-weo16q5haq] {
        background-color: #89638e;
    }

